/*
 Theme Name:   Xmag Child
 Theme URI:    http://example.com/
 Description:  Xmag Child Theme
 Author:       Vladimir Kopysov
 Author URI:   http://example.com
 Template:     xmag
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  xmag-child
*/

.pagination {
    text-align: center;
}

.single .hentry .entry-thumbnail,
.page .hentry .entry-thumbnail {
    margin: 20px 0 0;
    max-width: 240px !important;
    float: none;
    margin: auto;
}